<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-info " style="margin-bottom: 12px;">
  <a class="navbar-brand" href="/">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse">
    
    <ul class="nav navbar-nav container justify-content-end align-items-start">
		<% if(!nowuser){ %>
		     <li class="nav-item px-2 justify-content-start ">
            <a class="nav-link" href="/register">Signup</a>
            
            </li>
           <li class="nav-item px-2 justify-content-start"> 
            <a class="nav-link" href="/login">login</a>
           </li>
		
		<% }else{ %>
		      <li class="nav-item px-2 justify-content-start"> 
                <a class="nav-link" href="#">Signed in as <%=nowuser.username%></a>
             </li>
		     <li class="nav-item px-2 justify-content-start"> 
                <a class="nav-link" href="/logout">logout</a>
             </li>
		<% } %>
        
		
    </ul>
  </div>
</nav>
	<div class="container">
		<% if(error && error.length>0){ %>
			<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>
		<% if(success && success.length>0){ %>
			<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>    
	</div>
	
	
	
	<div class="container">
		<div class="row">
			<div class="col-3">
				<p class="lead">
					YelpCamp
				</p>
				<ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                 </ul>
			</div>
			<div class="col-9">
				<h2 class="lead"><strong>Author: </strong><em><%= campgrounds.author.username %></em></h2>
				<div class="card mb-3">
                  <img src="<%= campgrounds.image %>" class="card-img-top" alt="...">
                  <div class="card-body">
					<h5 class="float-right">$<%= campgrounds.price %>/night</h5>  
                   <h4 class="card-title"><%= campgrounds.name %></h4>
                   <p class="card-text"><%= campgrounds.description %></p>
					  <% if(nowuser && campgrounds.author.id.equals(nowuser._id)){ %>
						<a href="/campgrounds/<%= campgrounds._id %>/edit" class="btn btn-warning">Edit</a>
					  <form action="/campgrounds/<%=campgrounds._id %>?_method=DELETE" method="POST">
						  <button class="btn btn-danger">
							  Delete
						  </button>
					  </form>
					  <% } %>
                  </div>
                 </div>
			</div>
		</div>
		
		
		
    </div>	
	
	

	

</body>
</html>	
	
